/* 
    Created on : 15.08.2014, 20:45:19
    Author     : Gero
*/

/* Media Query for Mobile Browsers */
@media (max-width: 401px) {
    html, body {
        padding: 5px;
        margin: 0;
    }

    .datawrapper, .searchwrapper, .footerwrapper {
        width: 100%;
        height: 100%;
    }

    .item_box {
        background-image: url(../img/background.png);
        background-size: 100% 100%;
        padding: 13px;
        color: white;
    }

    .searchwrapper {
        width: 100%;
        max-width: 100%;
    }

    .searchform input[type=text] {
        width: 99% !important;
        margin-bottom: 10px;
    }

    .searchform input[type=submit] {
        width: 100%;
    }

    h3 > sup {
        display: none;
    }
}

/* Media Query for Desktop Browsers */
@media (min-width: 402px) {
    .datawrapper, .searchwrapper, .footerwrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    .item_box {
        background-image: url(../img/background.png);
        background-size: 100% 100%;
        display: inline-block;
        padding: 13px;
        width: 192px;
        margin: 10px;
        color: white;
    }

    .searchform input[type=text] {
        width: 825px;
    }

    .searchform input[type=submit] {
        width: 100px;
    }
}

html, body {
    font-family: Arial, Calibri;
}

.header_legendary {
    color: #55FFFF;
}

.header_unique {
    color: #FFAA00;
}

.header_rare {
    color: #AA00AA;
}

.header_special {
    color: #5555FF;
}

.footerwrapper {
    margin-top: 20px;
}

.item_box {
    margin-bottom: 10px;
}

.searchform {
    margin-bottom: 20px;
}

.error {
    color: #FF5555;
    font-size: 20px;
    margin-top: 20px;
}

.id_box {
    display: none;
}

h1, h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: lighter;
}

searchform input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

.searchform input[type=text] {
    height: 31px;
    border: 1px solid #CCC;
    color: #888;
    line-height: 20px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.searchform input[type=submit] {
    height: 35px;
    background: #FFF;
    border: 1px solid #CCC;
    color: #333;
    border-radius: 4px;
    font-size: 14px;
}

.searchform input[type=submit]:hover {
    color: #333;
    background-color: #0266C8;
    border-color: #ADADAD;
    color: white;
}

h3 {
    font-size: 30px;
}

h3 > sup {
    font-size: 20px;
}

.qtip {
    box-shadow: none;
    direction: ltr;
    display: none;
    font-size: 15px;
    left: -28000px;
    line-height: 15px;
    max-width: 280px;
    min-width: 50px;
    padding: 0;
    position: absolute;
    top: -28000px;
}

.qtip-content {
    overflow: hidden;
    padding: 5px 9px;
    position: relative;
    text-align: left;
    word-wrap: break-word;
}

.qtip-titlebar {
    border-width: 0 0 1px;
    font-weight: 700;
    overflow: hidden;
    padding: 5px 35px 5px 10px;
    position: relative;
}

.qtip-titlebar+.qtip-content {
    border-top-width: 0!important;
}

.qtip-close {
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    outline: medium none;
    position: absolute;
    right: -9px;
    top: -9px;
}

.qtip-titlebar .qtip-close {
    margin-top: -9px;
    right: 4px;
    top: 50%;
}

* html .qtip-titlebar .qtip-close {
    top: 16px;
}

.qtip-titlebar .ui-icon,.qtip-icon .ui-icon {
    direction: ltr;
    display: block;
    text-indent: -1000em;
}

.qtip-icon,.qtip-icon .ui-icon {
    border-radius: 3px;
    moz-border-radius: 3px;
    text-decoration: none;
    webkit-border-radius: 3px;
}

.qtip-icon .ui-icon {
    background: transparent none no-repeat -100em -100em;
    color: inherit;
    font: 400 bold 10px/13px Tahoma,sans-serif;
    height: 14px;
    line-height: 14px;
    text-align: center;
    text-indent: 0;
    width: 18px;
}

.qtip-default {
    background-color: #888;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    color: #E2E2E2;
}

.qtip-default .qtip-titlebar {
    background-color: #333;
}

.qtip-default .qtip-icon {
    background: #F1F1F1;
    border-color: #CCC;
    color: #777;
}

.qtip-default .qtip-titlebar .qtip-close {
    border-color: #AAA;
    color: #111;
}

.qtip:not(.ie9haxors) div.qtip-content, .qtip:not(.ie9haxors) div.qtip-titlebar {
    filter: none;
    ms-filter: none;
}

.qtip .qtip-tip {
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
}

x:-o-prefocus, .qtip .qtip-tip {
    visibility: hidden;
}

.qtip .qtip-tip,.qtip .qtip-tip .qtip-vml,.qtip .qtip-tip canvas {
    background: transparent;
    border: 0 dashed transparent;
    color: #123456;
    position: absolute;
}

.qtip .qtip-tip canvas {
    left: 0;
    top: 0;
}

.qtip .qtip-tip .qtip-vml {
    behavior: url(#default#VML);
    display: inline-block;
    visibility: visible;
}

#qtip-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#qtip-overlay.blurs {
    cursor: pointer;
}

#qtip-overlay div {
    background-color: #000;
    filter: alpha(opacity=70);
    height: 100%;
    left: 0;
    ms-filter: "alpha(Opacity=70)";
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%;
}

.qtipmodal-ie6fix {
    position: absolute!important;
}